<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JWT Parser</title>  
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <h4 class="info"> JWT Parser </h4>
    <div class="info">
      <textarea id="input" style="width: 900px; height: 200px; margin-left: 40px;"></textarea>
      <pre id="json" class="json"></pre>
    </div>

    <p style="padding-bottom: 12cm;"></p>
    <script src="/javascript/jwt.js" defer></script>
  </body>